body {
  font-family: sans-serif;
  background: #222;
  color: #fff;
  margin: 0px;
}

div#root {
  padding: 20px;
}

* {
  font-size: 20px;
}

h1 {
  font-size: 30px;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #333;
  display: flex;
  align-items: center;
}

li > div {
  width: 100%;
}

.new-task {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #333;
  border-radius: 5px;
  border: 1px solid #999;
}

.label {
  white-space: nowrap;
}

.new-task input[type='text'] {
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #666;
}

li input[type='text'] {
  background: #666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
}

.task-form {
  width: 100%;
  display: flex;
}

.task-field {
  width: 100%;
  display: flex;
}

.task-form input[type='text'] {
  width: 100%;
}

button {
  border: 1px solid #ccc;
  border-radius: 5px;
}

button.remove {
  margin-right: 5px;
  color: red;
}

button.submit {
  margin-left: 5px;
}

.error {
  font-size: 15px;
  background: lightcoral;
  border: 1px solid darkred;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: darkred;
}
